@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i,600,700,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Century Gothic', sans-serif;
}
.menu-container{
  position: absolute;
  top: 20px;
  left: 120px;
  transform: translate(-50%, -50%);
  width: 190px;
  display: flex;
  align-items: left;
  justify-content: left;
}
.button{
  position: absolute;
  background: #1b1b1b;
  color: rgb(255, 255, 255);
  font-size: 10px;
  padding: 3px 12px;
  width: 190px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  cursor: pointer;
  transition: .4s;
}
.button.expand{
  width: 200px;
}
.fas.expand:before{
  content: '\f00d';
}
ul{
  list-style: none;
  position: absolute;
  top: 35px;
  display: block;
  background: #1b1b1b;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  display: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
ul:before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: #1b1b1b;
  top: -10px;
  right: 15px;
  transform: rotate(45deg);
  z-index: -1;
}
ul li{
  line-height: 20px;
  padding: 3px 12px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
ul li:last-child{
  border-bottom: none;
}
ul li:hover{
  box-shadow: inset 0 0 5px rgb(72, 84, 253),
              inset 0 0 10px rgb(72, 84, 253);
}
ul li:hover:first-child{
  border-radius: 5px 5px 0 0;
}
ul li:hover:last-child{
  border-radius: 0 0 5px 5px;
}
ul li a{
  color: white;
  font-size: 10px;
  text-decoration: none;
}
ul li:hover a{
  color: rgb(72, 84, 253);
}


canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}



